<!DOCTYPE html>
<html>
    <head>
        <title>DEMO</title>
        <style>
            .b{
    width:300px;
    height:30px;
    background-color: red;
    color: white;
    }
    body{
        font-family: "Comic Sans MS";
    }
        </style>
    </head>
    <body>
        <center>
            <form method="POST" action="demo1.ejs">
                <h1>
                    WELCOME ADMIN
                </h1>
                <h2>Click to Display Dashboard</h2>
                <button class="b">Click</button>
            </form>
        </center>
    </body>
</html>